@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;800&family=Barlow+Condensed:wght@600;700;800&display=swap');
@import "tailwindcss";

* {
    font-family: 'Heebo', sans-serif;
    direction: rtl;
}

select,
input,
textarea {
    border: 1px solid #3D3D3D;
    outline-color: #C0001A;
    border-radius: 4px;
}

.active {
    background-color: #C0001A;
    border-color: #C0001A;
    color: white;
}